In [ ]:
!pip install gtfs_kit --quiet

In [1]:
import gtfs_kit as gk
data = './data/0-koda-gtfs-static/2021-11-01.zip'

In [2]:
gk.list_feed(data)

             file_name  file_size
0        transfers.txt    1339750
1            trips.txt    5145186
2         calendar.txt      42454
3            stops.txt    1417824
4           shapes.txt  130076313
5   calendar_dates.txt    1538962
6       stop_times.txt  182807640
7        feed_info.txt        144
8           agency.txt       1278
9     attributions.txt    3118924
10          routes.txt      31076

In [3]:
feed = gk.read_feed(data, dist_units='km')

In [8]:
trips = feed.routes
trips = feed.trips.merge(tvarb_routes, how='left', on='route_id')
trips.to_csv('./data/2-working-data/all-trips.csv')

tvar_routes = trips[trips.route_desc.str.contains('Tvär') == True]
tvar_routes.to_csv('./data/2-working-data/tvarbanan-trips.csv')

tvar_routes

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id,agency_id,route_short_name,route_long_name,route_type,route_desc
26016,9011001003000000,415,14010000580359261,NaN,1,454,14010000000001001,30,Tvärbanan,900,Tvärbanan
26017,9011001003000000,415,14010000580359570,NaN,1,454,14010000000001001,30,Tvärbanan,900,Tvärbanan
26018,9011001003000000,416,14010000580360974,NaN,1,454,14010000000001001,30,Tvärbanan,900,Tvärbanan
26019,9011001003000000,416,14010000580361045,NaN,1,454,14010000000001001,30,Tvärbanan,900,Tvärbanan
26020,9011001003000000,147,14010000580364294,NaN,1,454,14010000000001001,30,Tvärbanan,900,Tvärbanan
...,...,...,...,...,...,...,...,...,...,...,...
27362,9011001003100000,147,14010000595324151,NaN,0,473,14010000000001001,31,Tvärbanan,900,Tvärbanan
27363,9011001003100000,147,14010000595324187,NaN,0,473,14010000000001001,31,Tvärbanan,900,Tvärbanan
27364,9011001003100000,166,14010000595325111,NaN,0,473,14010000000001001,31,Tvärbanan,900,Tvärbanan
27365,9011001003100000,166,14010000595325215,NaN,0,473,14010000000001001,31,Tvärbanan,900,Tvärbanan
27366,9011001003100000,167,14010000595327011,NaN,0,473,14010000000001001,31,Tvärbanan,900,Tvärbanan

In [11]:
tvar_stops = feed.get_stops(route_ids=set(tvarb_routes.route_id), )
tvar_stops.to_csv('./data/2-working-data/tvarbanan-stops.csv')
tvar_stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,platform_code
7698,9022001004501001,Gullmarsplan,59.299419,18.080371,0,9021001004501000,5
7699,9022001004501002,Gullmarsplan,59.299565,18.080257,0,9021001004501000,6
7700,9022001004503001,Globen,59.294033,18.076131,0,9021001004503000,3
7701,9022001004503002,Globen,59.294214,18.077091,0,9021001004503000,4
7702,9022001004505001,Linde,59.293295,18.063864,0,9021001004505000,1
7703,9022001004505002,Linde,59.293231,18.063403,0,9021001004505000,2
7704,9022001004507001,Valla torg,59.295104,18.047991,0,9021001004507000,1
7705,9022001004507002,Valla torg,59.294918,18.048892,0,9021001004507000,2
7706,9022001004509001,Årstafältet,59.296342,18.039206,0,9021001004509000,1
7707,9022001004509002,Årstafältet,59.296342,18.040225,0,9021001004509000,2
7708,9022001004511001,Årstaberg,59.299473,18.029421,0,9021001004511000,1
7709,9022001004511002,Årstaberg,59.299023,18.029989,0,9021001004511000,2
7710,9022001004513001,Årstadal,59.305943,18.025454,0,9021001004513000,1
7711,9022001004513002,Årstadal,59.305707,18.025596,0,9021001004513000,2
7712,9022001004515001,Liljeholmen,59.310615,18.024792,0,9021001004515000,5
7713,9022001004515002,Liljeholmen,59.310596,18.024826,0,9021001004515000,6
7714,9022001004517001,Trekanten,59.314200,18.017806,0,9021001004517000,1
7715,9022001004517002,Trekanten,59.313931,18.018808,0,9021001004517000,2
7716,9022001004519001,Gröndal,59.315994,18.011484,0,9021001004519000,1
7717,9022001004519002,Gröndal,59.315853,18.010961,0,9021001004519000,2
7718,9022001004521001,Stora Essingen,59.324882,17.992478,0,9021001004521000,1
7719,9022001004521002,Stora Essingen,59.324667,17.993501,0,9021001004521000,2
7720,9022001004523001,Alviks strand,59.329009,17.981972,0,9021001004523000,1
7721,9022001004523002,Alviks strand,59.328792,17.982081,0,9021001004523000,3
7722,9022001004523003,Alviks strand,59.328918,17.982100,0,9021001004523000,2
7723,9022001004525001,Alvik,59.333383,17.980188,0,9021001004525000,5
7724,9022001004525002,Alvik,59.333707,17.980198,0,9021001004525000,6
7725,9022001004527001,Mårtensdal,59.302579,18.087640,0,9021001004527000,1
7726,9022001004527002,Mårtensdal,59.302771,18.088426,0,9021001004527000,2
7727,9022001004529001,Luma,59.304202,18.095406,0,9021001004529000,1
7728,9022001004529002,Luma,59.304141,18.096350,0,9021001004529000,2
7729,9022001004531001,Sickla kaj,59.302659,18.103485,0,9021001004531000,1
7730,9022001004531002,Sickla kaj,59.302879,18.103763,0,9021001004531000,2
7731,9022001004533001,Sickla udde,59.306292,18.108313,0,9021001004533000,1
7732,9022001004533002,Sickla udde,59.306212,18.109239,0,9021001004533000,2
7733,9022001004535001,Johannesfred,59.342742,17.969767,0,9021001004535000,1
7734,9022001004535002,Johannesfred,59.342807,17.969667,0,9021001004535000,2
7735,9022001004537001,Norra Ulvsunda,59.349790,17.962553,0,9021001004537000,1
7736,9022001004537002,Norra Ulvsunda,59.349802,17.962395,0,9021001004537000,2
7738,9022001004539001,Karlsbodavägen,59.355980,17.961403,0,9021001004539000,1
7739,9022001004539002,Karlsbodavägen,59.355983,17.961280,0,9021001004539000,2
7740,9022001004541001,Bällsta bro,59.360669,17.963044,0,9021001004541000,1
7741,9022001004541002,Bällsta bro,59.360691,17.962887,0,9021001004541000,2
7742,9022001004543001,Sundbybergs centrum,59.360869,17.970454,0,9021001004543000,3
7743,9022001004543002,Sundbybergs centrum,59.360808,17.970361,0,9021001004543000,4
7744,9022001004545001,Solna Business Park,59.359693,17.979046,0,9021001004545000,1
7745,9022001004545002,Solna Business Park,59.359251,17.979940,0,9021001004545000,2
7746,9022001004547001,Solna centrum,59.361338,17.996282,0,9021001004547000,3
7747,9022001004547002,Solna centrum,59.361374,17.996267,0,9021001004547000,4
7748,9022001004549001,Solna station,59.363759,18.008237,0,9021001004549000,1
7749,9022001004549002,Solna station,59.363750,18.008201,0,9021001004549000,2
7752,9022001004561001,Bromma Blocks,59.353935,17.956896,0,9021001004561000,1
7753,9022001004561002,Bromma Blocks,59.353898,17.956523,0,9021001004561000,2
7754,9022001004563001,Bromma flygplats,59.356895,17.946805,0,9021001004563000,1
7755,9022001004563002,Bromma flygplats,59.356883,17.946522,0,9021001004563000,2
8029,9022001007611002,Sickla,59.306828,18.121004,0,9021001007611000,2
8030,9022001007611003,Sickla,59.306784,18.120947,0,9021001007611000,3