In [ ]:
!pip install gtfs_kit --quiet

In [1]:
import gtfs_kit as gk
data = './data/0-koda-gtfs-static/2021-11-01.zip'

In [2]:
gk.list_feed(data)

             file_name  file_size
0        transfers.txt    1339750
1            trips.txt    5145186
2         calendar.txt      42454
3            stops.txt    1417824
4           shapes.txt  130076313
5   calendar_dates.txt    1538962
6       stop_times.txt  182807640
7        feed_info.txt        144
8           agency.txt       1278
9     attributions.txt    3118924
10          routes.txt      31076

In [3]:
feed = gk.read_feed(data, dist_units='km')

In [16]:
trips = feed.routes
trips = feed.trips.merge(trips, how='left', on='route_id')
trips.to_csv('./data/2-working-data/all-trips.csv')

# tvar_routes = trips[trips.route_desc.str.contains('Tvär') == True]
# tvar_routes.to_csv('./data/2-working-data/tvarbanan-trips.csv')

route_2 = trips[(trips.route_short_name == '2') & (trips.route_desc.str.contains('blå'))]
route_2

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id,agency_id,route_short_name,route_long_name,route_type,route_desc
1404,9011001000200000,52,14010000579164141,NaN,1,5,14010000000001001,2,NaN,700,blåbuss
1405,9011001000200000,53,14010000579164429,NaN,1,5,14010000000001001,2,NaN,700,blåbuss
1406,9011001000200000,54,14010000579163806,NaN,1,5,14010000000001001,2,NaN,700,blåbuss
1407,9011001000200000,3,14010000574545928,NaN,1,5,14010000000001001,2,NaN,700,blåbuss
1408,9011001000200000,4,14010000574549632,NaN,1,5,14010000000001001,2,NaN,700,blåbuss
...,...,...,...,...,...,...,...,...,...,...,...
2888,9011001000200000,52,14010000597010730,NaN,0,7,14010000000001001,2,NaN,700,blåbuss
2889,9011001000200000,52,14010000596894783,NaN,0,8,14010000000001001,2,NaN,700,blåbuss
2890,9011001000200000,52,14010000596894821,NaN,0,8,14010000000001001,2,NaN,700,blåbuss
2891,9011001000200000,52,14010000597010051,NaN,0,7,14010000000001001,2,NaN,700,blåbuss
2892,9011001000200000,52,14010000597010547,NaN,0,7,14010000000001001,2,NaN,700,blåbuss

In [13]:
tvar_stops = feed.get_stops(route_ids=set(tvarb_routes.route_id), )
tvar_stops.to_csv('./data/2-working-data/tvarbanan-stops.csv')
tvar_stops.shape

(57, 7)

In [17]:
route_2_stops = feed.get_stops(route_ids=set(route_2.route_id), )
route_2_stops.to_csv('./data/2-working-data/route-2-stops.csv')
route_2_stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,platform_code
8116,9022001010031004,Stureplan,59.335373,18.073309,0,9021001010031000,D
8117,9022001010031005,Stureplan,59.335176,18.073173,0,9021001010031000,A
8212,9022001010102001,Norrmalmstorg,59.333665,18.073326,0,9021001010102000,NaN
8220,9022001010107001,Jarlaplan,59.344713,18.061585,0,9021001010107000,NaN
8221,9022001010107002,Jarlaplan,59.344058,18.062248,0,9021001010107000,NaN
8223,9022001010110001,Tegnérgatan,59.341616,18.064789,0,9021001010110000,NaN
8224,9022001010110002,Tegnérgatan,59.341440,18.064623,0,9021001010110000,NaN
8225,9022001010112001,Eriksbergsgatan,59.339726,18.067534,0,9021001010112000,NaN
8226,9022001010112002,Eriksbergsgatan,59.339365,18.067869,0,9021001010112000,NaN
8227,9022001010120002,Karl XII:s torg,59.329946,18.073200,0,9021001010120000,NaN
8231,9022001010122001,Slottsbacken,59.326038,18.075225,0,9021001010122000,NaN
8232,9022001010122002,Slottsbacken,59.325813,18.075401,0,9021001010122000,NaN
8283,9022001010151001,Odenplan,59.342478,18.049246,0,9021001010151000,G
8287,9022001010151005,Odenplan,59.343073,18.049314,0,9021001010151000,B
8327,9022001010188001,Stadsbiblioteket,59.343806,18.054696,0,9021001010188000,NaN
8328,9022001010188002,Stadsbiblioteket,59.344224,18.056358,0,9021001010188000,NaN
8332,9022001010191001,Roslagsgatan,59.345083,18.059916,0,9021001010191000,NaN
8370,9022001010225001,Sveaplan,59.349698,18.049117,0,9021001010225000,NaN
8374,9022001010225005,Sveaplan,59.350131,18.048456,0,9021001010225000,NaN
8375,9022001010226001,Norrtullsgatan,59.346624,18.046426,0,9021001010226000,NaN
8376,9022001010226002,Norrtullsgatan,59.346681,18.046760,0,9021001010226000,NaN
8377,9022001010227001,Ynglingagatan,59.348763,18.046113,0,9021001010227000,NaN
8378,9022001010227002,Ynglingagatan,59.348963,18.045130,0,9021001010227000,NaN
8379,9022001010230001,Frejgatan,59.344522,18.046770,0,9021001010230000,NaN
8380,9022001010230002,Frejgatan,59.344274,18.047091,0,9021001010230000,NaN
8381,9022001010231001,Vanadisvägen,59.345815,18.045285,0,9021001010231000,NaN
8382,9022001010231002,Vanadisvägen,59.345765,18.045527,0,9021001010231000,NaN
8392,9022001010250001,Tjärhovsplan,59.316613,18.083385,0,9021001010250000,NaN
8393,9022001010250002,Tjärhovsplan,59.316266,18.083593,0,9021001010250000,NaN
8399,9022001010254001,Ersta sjukhus,59.315130,18.090146,0,9021001010254000,NaN
8401,9022001010254003,Ersta sjukhus,59.315498,18.088975,0,9021001010254000,NaN
8403,9022001010255002,Erstagatan,59.313731,18.090846,0,9021001010255000,NaN
8404,9022001010255004,Erstagatan,59.314395,18.090204,0,9021001010255000,NaN
8405,9022001010256001,Sofiaskolan,59.313048,18.094910,0,9021001010256000,NaN
8407,9022001010256003,Sofiaskolan,59.313388,18.093431,0,9021001010256000,NaN
8453,9022001010294003,Kungsträdgården,59.332241,18.071910,0,9021001010294000,NaN
8553,9022001010414001,Kungsträdgården,59.331086,18.072596,0,9021001010414000,NaN
8834,9022001010881003,Barnängen,59.309755,18.096743,0,9021001010881000,NaN
8881,9022001010976001,Mandelparken,59.312555,18.099065,0,9021001010976000,NaN
8882,9022001010976002,Mandelparken,59.311039,18.095988,0,9021001010976000,NaN
8909,9022001011002014,Slussen,59.319123,18.074776,0,9021001011002000,F
8910,9022001011002015,Slussen,59.319978,18.072464,0,9021001011002000,G