In [28]:
import gtfs_kit as gk
from tqdm.notebook import tqdm
from glob import glob
import pandas as pd

LINES_NAME = 'camille'
example = './data/0-koda-gtfs-static/2021-06-01.zip'

In [31]:
feed = gk.read_feed(example, dist_units='km')
gk.list_feed(example)

             file_name  file_size
0   calendar_dates.txt     757739
1        feed_info.txt        144
2            trips.txt    6093564
3            stops.txt    1415835
4           shapes.txt  125997174
5           routes.txt      31194
6        transfers.txt    1434503
7         calendar.txt      39376
8           agency.txt       1278
9     attributions.txt    3730496
10      stop_times.txt  221311508

41 42 42x

In [27]:
# lines = 
# lines=['2']
lines=['']
selected_routes = feed.routes[feed.routes.route_short_name.isin(['41', '42', '42X'])]
selected_routes = feed.routes[feed.routes.route_short_name.isin(['2'])]
selected_routes = selected_routes[selected_routes.route_desc == 'blåbuss']
selected_routes

,route_id,agency_id,route_short_name,route_long_name,route_type,route_desc
1,9011001000200000,14010000000001001,2,NaN,700,blåbuss

In [29]:
trips_list = []
for day in tqdm(glob('./data/0-koda-gtfs-static/*.zip')):
    feed = gk.read_feed(day, dist_units='km')
    trips_list.append(feed.trips[feed.trips.route_id.isin(selected_routes.route_id)])
    del feed

  0%|          | 0/118 [00:00<?, ?it/s]

In [32]:
trips_df = pd.concat(trips_list)
trips_df = trips_df.drop_duplicates(subset='trip_id')
trips_df = trips_df.merge(feed.routes, how='left', on='route_id')
trips_df.to_csv(f"""./data/2-working-data/{LINES_NAME}-trips.csv""")
trips_df

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id,agency_id,route_short_name,route_long_name,route_type,route_desc
0,9011001000200000,48,14010000574540625,NaN,1,7,14010000000001001,2,NaN,700,blåbuss
1,9011001000200000,84,14010000574546087,NaN,1,7,14010000000001001,2,NaN,700,blåbuss
2,9011001000200000,84,14010000574546161,NaN,1,7,14010000000001001,2,NaN,700,blåbuss
3,9011001000200000,7,14010000574547006,NaN,1,7,14010000000001001,2,NaN,700,blåbuss
4,9011001000200000,7,14010000574550164,NaN,1,7,14010000000001001,2,NaN,700,blåbuss
...,...,...,...,...,...,...,...,...,...,...,...
3861,9011001000200000,55,14010000597010730,NaN,0,7,14010000000001001,2,NaN,700,blåbuss
3862,9011001000200000,55,14010000597010051,NaN,0,7,14010000000001001,2,NaN,700,blåbuss
3863,9011001000200000,55,14010000597010547,NaN,0,7,14010000000001001,2,NaN,700,blåbuss
3864,9011001000200000,55,14010000597009976,NaN,0,7,14010000000001001,2,NaN,700,blåbuss
3865,9011001000200000,55,14010000597010807,NaN,0,7,14010000000001001,2,NaN,700,blåbuss

In [33]:
stops = feed.get_stops(route_ids=set(trips_df.route_id))
stops.to_csv(f"""./data/2-working-data/{LINES_NAME}-stops.csv""")
stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,platform_code
12857,9022001010102001,Norrmalmstorg,59.333665,18.073326,0,9021001010102000,NaN
12865,9022001010107001,Jarlaplan,59.344713,18.061585,0,9021001010107000,NaN
12866,9022001010107002,Jarlaplan,59.344058,18.062248,0,9021001010107000,NaN
12868,9022001010110001,Tegnérgatan,59.341616,18.064789,0,9021001010110000,NaN
12869,9022001010110002,Tegnérgatan,59.341440,18.064623,0,9021001010110000,NaN
12870,9022001010112001,Eriksbergsgatan,59.339726,18.067534,0,9021001010112000,NaN
12871,9022001010112002,Eriksbergsgatan,59.339365,18.067869,0,9021001010112000,NaN
12914,9022001010226002,Norrtullsgatan,59.346681,18.046760,0,9021001010226000,NaN
12915,9022001010227001,Ynglingagatan,59.348763,18.046113,0,9021001010227000,NaN
12916,9022001010227002,Ynglingagatan,59.348963,18.045130,0,9021001010227000,NaN
12917,9022001010230002,Frejgatan,59.344274,18.047091,0,9021001010230000,NaN
12918,9022001010231001,Vanadisvägen,59.345815,18.045285,0,9021001010231000,NaN
12919,9022001010231002,Vanadisvägen,59.345765,18.045527,0,9021001010231000,NaN
12928,9022001010254001,Ersta sjukhus,59.315130,18.090146,0,9021001010254000,NaN
12930,9022001010254003,Ersta sjukhus,59.315498,18.088975,0,9021001010254000,NaN
12932,9022001010255002,Erstagatan,59.313731,18.090846,0,9021001010255000,NaN
12933,9022001010255004,Erstagatan,59.314395,18.090204,0,9021001010255000,NaN
12934,9022001010256001,Sofiaskolan,59.313048,18.094910,0,9021001010256000,NaN
12935,9022001010256003,Sofiaskolan,59.313388,18.093431,0,9021001010256000,NaN
16187,9022001010225001,Sveaplan,59.349698,18.049117,0,9021001010225000,NaN
16189,9022001010225005,Sveaplan,59.350131,18.048456,0,9021001010225000,NaN
16190,9022001010226001,Norrtullsgatan,59.346624,18.046426,0,9021001010226000,NaN
16506,9022001010031004,Stureplan,59.335373,18.073309,0,9021001010031000,D
16507,9022001010031005,Stureplan,59.335176,18.073173,0,9021001010031000,A
16524,9022001010191001,Roslagsgatan,59.345083,18.059916,0,9021001010191000,NaN
17362,9022001010881003,Barnängen,59.309755,18.096743,0,9021001010881000,NaN
17363,9022001010151001,Odenplan,59.342478,18.049246,0,9021001010151000,G
17563,9022001010294003,Kungsträdgården,59.332241,18.071910,0,9021001010294000,NaN
17779,9022001010230001,Frejgatan,59.344522,18.046770,0,9021001010230000,NaN
18134,9022001010120002,Karl XII:s torg,59.329946,18.073200,0,9021001010120000,NaN
18439,9022001010414001,Kungsträdgården,59.331086,18.072596,0,9021001010414000,NaN
18981,9022001010976002,Mandelparken,59.311039,18.095988,0,9021001010976000,NaN
20042,9022001010122001,Slottsbacken,59.326038,18.075225,0,9021001010122000,NaN
20043,9022001010122002,Slottsbacken,59.325813,18.075401,0,9021001010122000,NaN
20097,9022001010250001,Tjärhovsplan,59.316613,18.083385,0,9021001010250000,NaN
20098,9022001010250002,Tjärhovsplan,59.316266,18.083593,0,9021001010250000,NaN
20120,9022001011002014,Slussen,59.319123,18.074776,0,9021001011002000,F
20121,9022001011002015,Slussen,59.319978,18.072464,0,9021001011002000,G
20130,9022001010976001,Mandelparken,59.310493,18.098121,0,9021001010976000,NaN
20728,9022001010151005,Odenplan,59.343073,18.049314,0,9021001010151000,B
20733,9022001010188001,Stadsbiblioteket,59.343806,18.054696,0,9021001010188000,NaN
20734,9022001010188002,Stadsbiblioteket,59.344224,18.056358,0,9021001010188000,NaN